/*
*
*@author Marlon Lima
*/

/* =================== layout ======================*/

* {margin: 0; padding: 0;   border: 0;}


html, body, .capa{
	height: 100%;
}


.mover{
		top: -60px;
		transition: 1s;
}

.mover:hover{
		top: 0px;		
}

@media screen and (max-width: 450px){
	html, body, .capa{
	height: 70%;
	}

	h3{font-size: 18px}	
}

@media screen and (min-width: 451px){
	html, body, .capa{
	height: 80%;
	}

}

@media screen and (min-width: 992px){
	html, body, .capa{
	height: 100%;
	}
}

/* --Barra de navegação -- */
.img-logo{
	height: 50px;
	width: 138px;
	display: block;
	background: url('imagens/reatar12.svg') no-repeat;
	background-size: contain;
	color: transparent;
}

nav.navbar-transparente{
	padding: 17px 0px;
	background: rgba(0, 0, 0, 0.4);
	border: none;
}

.navbar-brand{
	padding: 0px 15px;
	position: absolute;
	top: 75%;
}

.divisor{
	width: 1px;
	height: 16px;
	background: white;
	margin: 16px 10px;
}

.navbar-inverse .navbar-nav>li>a {
	color: white;
	transition-duration: 0.4s;
}

.navbar-inverse .navbar-nav>li>a:hover {
	color: #8B88B9;
	padding-top: 8px;
	
	font-size: 14.1px;

}

/* --Imagem de capa -- */

.capa{

		background: url('imagens/capaMarlon.png')no-repeat,
 		linear-gradient(180deg,#7c26f8,#122A0A), 
 		url('imagens/ruido.png');
		display: table;
		width: 100%;
		text-align: center;
		font-size: 55px;
		padding-top: 90px;
		color: transparent;
		background-size: 100%;
		background-attachment: scroll
}

.corpo{
	background: url('imagens/arame.png'),
	linear-gradient(190deg,#363761,#2A2A34);
	background-attachment: fixed;
	overflow-x: hidden;
	border: 0px;
	margin: 0px;

}

.texto-capa {
	text-align: center;
	color: white;
	display: table-cell;
	vertical-align: middle;
	letter-spacing: -0.05em;
}

/* -- Botoes -- */
.btn-custom{
	color:white;
	border-radius: 5px;
	-webkit-border-radius: 500px;
	-moz-border-radius: 500px;
	padding: 10px 35px;
	text-transform: uppercase;
	margin: 0px 15px;
	transition: background 0.4s, color 0.4s;
}

.btn-roxo{
	background: #7c25f8;
}

.btn-roxo:hover{
	background-color: #6207e3;
	color: white;
}

.btn-branco {
	border: 2px solid white;
}

.btn-branco:hover {
	background: white;
	color: black;
}

/* -- Seção Serviços -- */

#video {
	padding-top: 20px;
	padding-bottom: 20px;
}

.agenda{
	background: url(imagens/papel.jpg);
	margin-bottom: 20px;
	margin-top: 15px;
	color: black;
	text-align: center;
	padding-top: 10px;


}

.ep{
	text-align: center;
	color: white;
	display: table;
	width: 100%;
	vertical-align: middle;
	height: 50%;

}

.social{
	background-color: rgba(0, 0, 0, 0.7);
	padding-top: 20px;
	color: white;
	
}
.redes{
	width: 55px;
	margin: 50px;
	transition-duration: 0.4s;
}

.redes:hover{
	
	filter: brightness(200%);
	

}

footer{
	background: #151515;;
	padding: 50px 0px 20px 0px;
	position: relative;
	margin-bottom: -20px;
}

/*Utilizado para tirar diferença da barra de menu*/
p>a{
	color: transparent;
}
a:hover{
	
	text-decoration: none;
	color: transparent;
}



/* ========================Tipografia ===============*/

h1.center{
text-align: center;
margin-top: 0px;
}
